/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #333;
}

#action-list {
    margin-top: 20px;
}

.action-item {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    /* border-left: 5px solid #4CAF50; */
    border-radius: 4px;
}

.action-item h3 {
    margin: 0;
    color: #333;
}

.action-item p {
    margin: 5px 0;
    color: #666;
    font-size: 0.9em;
}

.notification-btn {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: absolute;
    top: 10px;
    right: 10px;
}

.notification-btn:hover {
    background-color: #218838;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.notification-btn:active {
    background-color: #06601b;
}

.notification-btn:focus {
    outline: none;
}

.pagination {
    display: flex;
    justify-content: center;
}

.page-no {
    cursor: pointer;
    padding: 5px 10px;
}