<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/styles.css" />
        <title>GitHub Actions Dash</title>
    </head>
    <body>
        <div class="container">
            <button class="notification-btn">Turn on Notification</button>
            <h1>GitHub Actions</h1>
            <div id="action-list"></div>
            <div class="pagination">
                <button id="prev-btn">Prev</button>
                <div class="pages"></div>
                <button id="next-btn">Next</button>
            </div>
        </div>
        <audio src="../static/notification.mp3" id="audio"></audio>
        <script src="../static/script.js" type="text/javascript"></script>
    </body>
</html>
